body {
    background-color: rgba(27, 36, 74, 1);
    margin: 0;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    gap: 100px;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.team__team-name {
    color: white;
    font-family: 'Verdana';
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.team__score {
    width: 155px;
    min-height: 120px;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.team__points {
    color: rgba(249, 79, 109, 1);
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    margin: 0;
    padding: 0;

}

.team__add-points-btns {
    display: flex;
    justify-content: space-between;
}

.team__add-points-button {
    width: 45px;
    height: 45px;
    background-color: rgba(27, 36, 74, 0);
    color: rgba(154, 171, 216, 1);
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border: rgba(154, 171, 216, 1) 1px solid;
    border-radius: 5px;
}

